<h2>Products</h2>

<!-- let (variable) of (array) - this is a for loop -->
<div *ngFor="let product of products">
  <!--interpolation lets you render the property value as text  -->
  <h3>
    <!-- what is property binding "[ ]"? 
          property binding lets you use the property value in a 
          template expression

          this will display a title detail when govering over the link
    -->
    <a [title]="product.name + 'details'">{{ product.name }}</a>
  </h3>

  <!-- if products.description = TRUE, it will display a description under the links using interpolation. The last product in the array list it does not 
  have a description so it will be blank
  -->
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <!-- what is event binding?

    using "( )" around "click" is called an event binding, each product
    will now have a share button under it.  
  -->
  <button type="button" (click)="share()">Share</button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
